:host {
  display: block;
  width: 400px;
  height: 250px;
}

.hero-svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  :host {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}