/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #121826;
  color: #ededf7;
  line-height: 1.6;
}

html,
body {
  height: 100%;
  margin: 0;
}
